html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
   
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background.jpg');/* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
  }
  
  .card {
    border: none;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better contrast */
    max-width: 400px;
    width: 100%;
  }
  
  .custom-btn {
    background-color: #24275c;
    color: white;
    border: none;
    transition: all 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #1b1e45;
  }
  