<div class="sidebar">
   <div class="sidebar-header">
    <img src="assets/logo2.png" alt="Logo" class=" rounded-circle logo" />
  </div>

  
    
  <ul class="menu">
    <h6>General</h6>
    <li class="menu-item active">
      <i class="fas fa-th-large"></i>
     
      <span class="menu-text">Dashboard</span>
    </li>
    <li class="menu-item">
      <i class="fas fa-heart"></i>
      <span class="menu-text">Health</span>
    </li>
    <li class="menu-item">
      <i class="fas fa-chart-bar"></i>
      <span class="menu-text">Statistics</span>
    </li>
    <li class="menu-item">
      <i class="fas fa-bell"></i>
      <span class="menu-text">Notifications</span>
    </li>
    <li class="menu-item">
      <i class="fas fa-chart-line"></i>
      <span class="menu-text">Analytics</span>
    </li>
    <br>
    <h6>Tools</h6>
    <li class="menu-item">
      <i class="fas fa-cog"></i>
      <span class="menu-text">Settings</span>
    </li>
    <li class="menu-item">
      <i class="fas fa-user"></i>
      <span class="menu-text">Profile</span>
    </li>
  </ul>
</div>
